*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to left, black, #333333);
  min-height: 50px;
}

.logo{
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.navButton{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navButton a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 15px;
}

.LoginForm button{
  background-color: #bfff80;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  border : none;
  width : 105px;
  margin-left: 10px;
  opacity: 0.7;

}

.LoginForm input{
  font-size: 14px;
  border-radius: 8px;
  opacity: 0.7;
  border : none;
  width : 120px;
  padding-left: 5px;
  height: 17px;
}

.Description h2{
  padding: 20px;
}

.Description{
  background-image: url("../img/wood-texture.jpg");
  color: black;
  background-color: DarkGrey;
  text-align: center;
  min-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  opacity: 0.9;
}

.LeftBlock img {
  position: absolute;
  z-index: -1;
  width: 50%;
}

.LeftBox h2{
  position: relative;
  top: 5px;
  left: 3px;
  color : black;
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
}

.LeftBox{
  background-color: white;
  height : 500px;
  margin: 100px;
  border: none;
  opacity: 0.7;
  border-radius: 15px;
  min-width: 100px;
}

.LeftBlock{
  float: left;
  width: 50%;
}

.LeftBox a{
  background-color: #bfff80;
  border: none;
  border-radius: 15px;
  position: relative;
  top: 200px;
  color : black;
  font-size: 30px;
  text-decoration: none;
  top: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

.RightBlock{
  display: flex;
  float: right;
  width: 50%;
  height: 500px;
}

.RightBlock img {
  position: absolute;
  z-index: -1;
  width: 50%;
}

.RightBox h2{
  color : #000000;
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  top: 5px;
  left: 3px;
  font-style: italic;
  text-decoration: underline;
}

.RightBox{
  width: 850px;
  background-color: white;
  height : 500px;
  margin: 100px;
  border: none;
  opacity: 0.78;
  border-radius: 15px;
}

.RightBox a{
  background-color: #d2a679;
  color : #000000;
  font-size: 30px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  position: relative;
  top: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

div .RightBox {
  text-align: center;
}

div .LeftBox{
  text-align: center;
}
