.navButton a.community{
  text-decoration: underline;
}

nav{
  align-items:center;
  top: 0;
  display: flex;
  background: linear-gradient(to left, black, #333333);
  min-height: 90px;
  min-width: 800px;
  z-index: 2;
}

.logo{
  font-family: comic;
  font-style: italic;
  text-shadow: 2px 2px black;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 25px;
  margin-left: 40px;
}

.navButton{
  margin-left: auto;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.navButton a:hover{
    text-decoration: underline;
    color: #c1e1ad;
}

.navButton a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
}


.clic:hover{
	text-decoration : underline ;
}
#bonne_page {
	text-decoration : underline ;
}

#navigation_haut {
	color : white;
}

/*----------------------------------------- - Corps de la page */
body {
	margin : 0px ;
}
.container {
	font-family : Roboto,sans-serif ;
	position : relative ;
	background-image : url(../IMG/acceuil8.jpg);
	background-attachment : fixed ;
}

/*----------------------------------------- - Cadre par personne */
.personne {
	position : relative ;
	word-wrap : break-word ;
	display : inline-block ;
	width : 237px ;
	margin : 20px  ;
	padding : 10px ;
}

/*Nom - notation - commentaire*/
.info {
	width : 235px ;
	height : 175px ;
}
.desc {
	position : relative ;
	width : 234px ;
	height : 280PX ;
	color : black ;
	background: linear-gradient(white, transparent);
	opacity : 0.9 ;
}
.nom_com {
	position : relative ;
	top : 15px ;
}

/*Bouton profil*/
#profil_bouton {
	position : relative ;
	text-align : center ;
}
.compte_bouton {
	font-size: 0.8rem;
	font-weight: 600;
	border-radius : 15px ;
	width : 115px;
	height : 32px;
	background-color : Silver;
	color : #111111 ;
	opacity : 1.0 ;
	border : none ;
}
.compte_bouton:hover {
	opacity: 0.7 ;
}


/*Pas utilisés  ___________________________________________________________________*/
table {
	border-width : 1px;
	border-style : solid;
	border-color : blue;
	width : 50%;
}
td {
	border-width : 1px;
	border-style : solid;
	border-color : red;
	width : 50%;
}

#banniere1 {
	vertical-align : middle ;
	position: relative ;
}
.navigation_haut {
	position : relative ;
	width : 350px ;
	/*text-align : left ;*/
	left : 40% ;
}

.blank a{
  margin-left: 45%;
  color: #c1e1ad;
  text-decoration: underline;
}

.blank {
  position:static;
  padding: 2%;
  background-color: #000000;
  bottom: 0;
  background: linear-gradient(to left, black, #333333);
}
