body{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #101010;
}

nav{
  align-items:center;
  top: 0;
  display: flex;
  background: linear-gradient(to left, black, #333333);
  min-height: 30px;
  min-width: 800px;
  height: 50px;
}

.logo{
  font-family: comic;
  font-style: italic;
  text-shadow: 2px 2px black;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 25px;
  margin-left: 40px;
}

.navButton{
  margin-left: auto;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.navButton a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 15px;
}

h1{
  border-radius: 6px;
  position: relative;
  margin-right: 42%;
  margin-left: 42%;
  font-family: fantasy;
  text-shadow: 5px 5px #000000;
  color: #e65c00;
  margin-top: 30px;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.85;

}

.SelectBloc select{
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  display: inline;
  border: 1px solid Black;
}

.SelectBloc p{
  text-shadow: 1px 1px white;
  color: #e65c00;
  font-family: fantasy;
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0 0 0;
  position: relative;
  display: inline;
  margin-left: 38%;
}

.SignupForm{
  border-radius: 10px;
  background-image: url("../img/arrose.jpg");
  margin: 100px 35% 0 35%;
  border: 1px solid Black;
  min-width: 250px;
  opacity: 0.88;
}

.SignupForm input,
button{
  font-size: 17px;
  height: 18px;
  border-radius: 5px;
  margin: 15px auto 10px auto;
  display: block;
  border: none;
}

.SignupForm button{
  text-shadow: 1px 1px black;
  color: white;
  font-weight: bold;
  background-color: #e65c00;
  width:9rem;
  height: 1.6rem;
}

.SignupForm input{
  padding-left: 3px;
}
